* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  //max-width: inherit;
  vertical-align: top;
}
.krds-main-menu-mobile .gnb-wrap .gnb-header .gnb-service-menu .link::before{
  display: none;
}

@media (max-width: 767px) {
    #krds-header .header-container .logo {
        width: 16.4rem;
        height: 3.2rem;
    }
    #krds-masthead .toggle-head .nuri-txt{font-size: 11px;}
}

