<div id="krds-masthead">
  <div class="toggle-wrap">
    <div class="toggle-head">
      <div class="inner">
        <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
        <!-- <button type="button" class="krds-btn xsmall text toggle-btn">
          공식 누리집 확인방법 <i class="svg-icon ico-angle"></i>
          <span class="sr-only">열기</span>
        </button> -->
      </div>
    </div>

    <!-- <div class="toggle-body">
      <div class="inner">
        <dl class="nuri">
          <dt>공식 누리집 주소 확인하기</dt>
          <dd class="desc">
            go.kr 주소를 사용하는 누리집은 대한민국 정부기관이 관리하는 누리집입니다.<br>
            이밖에 or.kr 또는 .kr등 다른 도메인 주소를 사용하고 있다면 아래 URL에서 도메인 주소를 확인해 보세요
          </dd>
          <dd>
            <a href="#" class="krds-btn xsmall text" target="_blank" title="새 창 열기">
              운영중인 공식 누리집보기 <i class="svg-icon ico-link"></i>
            </a>
          </dd>
        </dl>
      </div>
    </div> -->

  </div>
</div>
<header id="krds-header">
    <!-- 헤더 컨텐츠 영역  -->
    <div class="header-in">
      <!-- 헤더 상단 기타메뉴 -->
      <div class="header-container">
        <div class="inner">
          
          <div class="header-branding">
            <h2 class="logo sample">
              <a href="#">
                <span class="sr-only">대한민국정부</span>
              </a>
            </h2>
            <div class="header-actions">
              
              <div class="krds-drop-wrap my-drop">
                <button type="button" class="btn-navi my drop-btn" aria-expanded="false">마이페이지</button>
                <div class="drop-menu" style="display: none;">
                  <div class="drop-in">
                    <div class="drop-top">
                      <p class="my-name">홍길동님</p>
                      <dl class="my-time">
                        <dt>로그아웃까지 남은 시간</dt>
                        <dd>
                          <span class="time">12:00</span>
                          <button type="button" class="krds-btn small text h-auto">시간 연장</button>
                        </dd>
                      </dl>
                    </div>
                    <ul class="drop-list">
                      <li><a href="#" class="item-link">나의 GOV 홈<span class="sr-only"></span></a></li>
                      <li><a href="#" class="item-link">나의 신청내역<span class="sr-only"></span></a></li>
                      <li><a href="#" class="item-link">나의 생활정보<span class="sr-only"></span></a></li>
                      <li><a href="#" class="item-link">나의 정보관리<span class="sr-only"></span></a></li>
                    </ul>
                    <div class="drop-bottom">
                      <button type="button" class="krds-btn medium text">
                        <i class="svg-icon ico-logout"></i> 로그아웃
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn-navi all" aria-controls="mobile-nav">전체메뉴</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //헤더 상단 기타메뉴 -->

      <!-- 메인메뉴 : 데스크탑 -->
      <nav class="krds-main-menu">
        <div class="inner">
          <ul class="gnb-menu" aria-label="메인 메뉴">
            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb" aria-controls="gnb-main-menu-dc4azjk" aria-expanded="false" aria-haspopup="true">국토정보맵</button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap" id="gnb-main-menu-dc4azjk">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true" style="min-height: 262px;">
                  <ul>
                    <li>
                      <button type="button" class="gnb-sub-trigger active" data-trigger="gnb" aria-controls="gnb-sub-menu-xhos3h6" aria-expanded="true" aria-haspopup="true">2Depth</button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list active" id="gnb-sub-menu-xhos3h6">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title">
                            2Depth title
                            <a href="#" class="krds-btn link basic small">
                              <span class="underline">바로가기</span>
                              <i class="svg-icon ico-angle right"></i>
                            </a>
                          </h2>
                          <ul>
                            <li><button type="button">Last depth</button></li>
                            <li><a href="#">Last depth</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button type="button" class="gnb-sub-trigger" data-trigger="gnb" aria-controls="gnb-sub-menu-af4dbks" aria-expanded="false" aria-haspopup="true">2Depth</button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between" id="gnb-sub-menu-af4dbks">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title"><span>2Depth title</span></h2>
                          <ul>
                            <li><button type="button">Last depth</button></li>
                            <li><a href="#">Last depth</a></li>
                          </ul>
                        </div>
                        <div class="gnb-sub-banner">
                          <span class="krds-badge bg-secondary">신규 서비스</span>
                          <button type="button" class="krds-btn medium text">메뉴명 <i class="svg-icon ico-angle right"></i></button>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <a href="#" class="gnb-sub-trigger is-link" data-trigger="gnb">2Depth</a>
                    </li>
                    <li>
                      <a href="#" class="gnb-sub-trigger is-link external-link" data-trigger="gnb" target="_blank" title="새 창 열림">2Depth</a>
                    </li>
                  </ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb" aria-controls="gnb-main-menu-754j5zd" aria-expanded="false" aria-haspopup="true">공간정보</button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap" id="gnb-main-menu-754j5zd">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true" style="min-height: 427px;">
                  <ul>
                    <li>
                      <button type="button" class="gnb-sub-trigger active" data-trigger="gnb" aria-controls="gnb-sub-menu-sap4eci" aria-expanded="true" aria-haspopup="true">2Depth</button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list active" id="gnb-sub-menu-sap4eci">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title"><span>2Depth title</span></h2>
                          <ul class="type-description">
                            <li>
                              <h3 class="tit">
                                <a href="#" target="_blank" title="새 창 열림">3Depth title <i class="svg-icon ico-go"></i></a>
                              </h3>
                              <p class="txt">메뉴명과 메뉴에 관한 간략한 설명이 표시되는 스타일입니다.</p>
                            </li>
                            <li>
                              <h3 class="tit">
                                <a href="#" target="_blank" title="새 창 열림">3Depth title <i class="svg-icon ico-go"></i></a>
                              </h3>
                              <p class="txt">메뉴명과 메뉴에 관한 간략한 설명이 표시되는 스타일입니다.</p>
                            </li>
                            <li>
                              <h3 class="tit">
                                <a href="#" target="_blank" title="새 창 열림">3Depth title <i class="svg-icon ico-go"></i></a>
                              </h3>
                              <p class="txt">메뉴명과 메뉴에 관한 간략한 설명이 표시되는 스타일입니다.</p>
                            </li>
                            <li>
                              <h3 class="tit">
                                <a href="#" target="_blank" title="새 창 열림">3Depth title <i class="svg-icon ico-go"></i></a>
                              </h3>
                              <p class="txt">메뉴명과 메뉴에 관한 간략한 설명이 표시되는 스타일입니다.</p>
                            </li>
                          </ul>
                        </div>
                        <div class="gnb-sub-banner">
                          <span class="krds-badge bg-secondary">신규 서비스</span>
                          <button type="button" class="krds-btn medium text">메뉴명 <i class="svg-icon ico-angle right"></i></button>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button type="button" class="gnb-sub-trigger" data-trigger="gnb" aria-controls="gnb-sub-menu-3kbkciw" aria-expanded="false" aria-haspopup="true">2Depth</button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list between" id="gnb-sub-menu-3kbkciw">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title"><span>2Depth title</span></h2>
                          <ul class="type-description">
                            <li>
                              <h3 class="tit">
                                <a href="#" target="_blank" title="새 창 열림">3Depth title <i class="svg-icon ico-go"></i></a>
                              </h3>
                              <p class="txt">메뉴명과 메뉴에 관한 간략한 설명이 표시되는 스타일입니다.</p>
                            </li>
                          </ul>
                        </div>
                        <div class="gnb-sub-banner">
                          <span class="krds-badge bg-secondary">신규 서비스</span>
                          <button type="button" class="krds-btn medium text">메뉴명 <i class="svg-icon ico-angle right"></i></button>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <a href="#" class="gnb-sub-trigger is-link" data-trigger="gnb">2Depth</a>
                    </li>
                    <li>
                      <a href="#" class="gnb-sub-trigger is-link external-link" data-trigger="gnb" target="_blank" title="새 창 열림">2Depth</a>
                    </li>
                  </ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb" aria-controls="gnb-main-menu-onpdol6" aria-expanded="false" aria-haspopup="true">자료실</button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap" id="gnb-main-menu-onpdol6">
                <!-- gnb-main-list -->
                <div class="gnb-main-list">
                  <!-- gnb-sub-list -->
                  <div class="gnb-sub-list single-list between">
                    <div class="gnb-sub-content">
                      <h2 class="sub-title"><span>지원서비스</span></h2>
                      <ul>
                        <li><a href="#">민원서비스</a></li>
                        <li><a href="#">오픈 API</a></li>
                        <li><a href="#">검색제한 항공사진</a></li>
                        <li><a href="#">기준점 정보 공유</a></li>
                        <li><a href="#">기관사용자 신청</a></li>
                        <li><a href="#">업무지원</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- //gnb-sub-list -->
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

            <li>
              <button type="button" class="gnb-main-trigger" data-trigger="gnb" aria-controls="gnb-main-menu-nbcwj29" aria-expanded="false" aria-haspopup="true">지원서비스</button>
              <!-- gnb-toggle-wrap -->
              <div class="gnb-toggle-wrap" id="gnb-main-menu-nbcwj29">
                <!-- gnb-main-list -->
                <div class="gnb-main-list" data-has-submenu="true">
                  <ul>
                    <li>
                      <button type="button" class="gnb-sub-trigger active" data-trigger="gnb" aria-controls="gnb-sub-menu-7l8p963" aria-expanded="true" aria-haspopup="true">2Depth</button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list active" id="gnb-sub-menu-7l8p963">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title"><span>2Depth title</span></h2>
                          <ul class="type-description">
                            <li>
                              <h3 class="tit">
                                <a href="#" target="_blank" title="새 창 열림">3Depth title <i class="svg-icon ico-go"></i></a>
                              </h3>
                              <p class="txt">메뉴명과 메뉴에 관한 간략한 설명이 표시되는 스타일입니다.</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <button type="button" class="gnb-sub-trigger" data-trigger="gnb" aria-controls="gnb-sub-menu-ptwri90" aria-expanded="false" aria-haspopup="true">2Depth</button>
                      <!-- gnb-sub-list -->
                      <div class="gnb-sub-list" id="gnb-sub-menu-ptwri90">
                        <div class="gnb-sub-content">
                          <h2 class="sub-title"><span>2Depth title</span></h2>
                          <ul>
                            <li><a href="#">Last depth</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- //gnb-sub-list -->
                    </li>
                    <li>
                      <a href="#" class="gnb-sub-trigger is-link" data-trigger="gnb">2Depth</a>
                    </li>
                    <li>
                      <a href="#" class="gnb-sub-trigger is-link external-link" data-trigger="gnb" target="_blank" title="새 창 열림">2Depth</a>
                    </li>
                  </ul>
                </div>
                <!-- //gnb-main-list -->
              </div>
              <!-- //gnb-toggle-wrap -->
            </li>

          </ul>
        </div>
      </nav>

      <!-- //메인메뉴 : 데스크탑 -->
    </div>
    <!-- //헤더 컨텐츠 영역  -->

    <!-- 메인메뉴 : 모바일 -->
    <div id="mobile-nav" class="krds-main-menu-mobile is-open">
      <div class="gnb-wrap">
        <!-- gnb-header -->
        <div class="gnb-header">
          
          <!-- gnb-login -->
          <div class="gnb-login">
            <!-- <span class="user">홍길동님</span>
              <button type="button" class="krds-btn large text"><i class="svg-icon ico-logout"></i> 로그아웃</button> -->
            <button type="button" class="krds-btn large text"><i class="svg-icon ico-log"></i> 로그인을 해주세요</button>
          </div>
          <!-- //gnb-login -->
          <!-- gnb-service-menu -->
          <div class="gnb-service-menu">
            <a href="#" class="link">로그인</a>
            <a href="#" class="link">회원가입</a>
            <a href="#" class="link">이용가이드</a>
          </div>
          <!-- gnb-service-menu -->
          <!-- 검색 -->
          <div class="sch-input">
            <input type="text" class="krds-input" placeholder="검색어를 입력해주세요." title="찾고자 하는 메뉴명 입력">
            <button type="button" class="krds-btn medium icon ico-search">
              <span class="sr-only">검색</span>
              <i class="svg-icon ico-sch"></i>
            </button>
          </div>
          <!-- //검색 -->
        </div>
        <!-- //gnb-header -->

        <!-- gnb-body -->
        <div class="gnb-body">
          <!-- gnb-menu -->
          <div class="gnb-menu">
            <div class="menu-wrap">
              <ul role="tablist">
                <li role="none">
                  <a href="#mGnb-anchor1" class="gnb-main-trigger active" role="tab" aria-selected="true" aria-controls="mGnb-anchor1" id="tab-0">국토정보맵</a>
                </li>
                <li role="none">
                  <a href="#mGnb-anchor2" class="gnb-main-trigger" role="tab" aria-selected="false" aria-controls="mGnb-anchor2" id="tab-1">공간정보</a>
                </li>
                <li role="none">
                  <a href="#mGnb-anchor3" class="gnb-main-trigger" role="tab" aria-selected="false" aria-controls="mGnb-anchor3" id="tab-2">자료실</a>
                </li>
                <li role="none">
                  <a href="#mGnb-anchor4" class="gnb-main-trigger" role="tab" aria-selected="false" aria-controls="mGnb-anchor4" id="tab-3">지원서비스</a>
                </li>
              </ul>
            </div>
            <div class="submenu-wrap">
              
              <div class="gnb-sub-list" id="mGnb-anchor4" role="tabpanel" aria-labelledby="tab-3">
                <h2 class="sub-title">국토정보맵</h2>
                <ul>
                  <li><a href="#" class="gnb-sub-trigger">통합지도검색</a></li>
                  <li><a href="#" class="gnb-sub-trigger">국토통계지도</a></li>
                  <li><a href="#" class="gnb-sub-trigger">북한지도</a></li>
                  <li><a href="#" class="gnb-sub-trigger">역사지도</a></li>
                  <li><a href="#" class="gnb-sub-trigger">정밀도로지도</a></li>
                  <li><a href="#" class="gnb-sub-trigger">사용자참여지도</a></li>
                  <li><a href="#" class="gnb-sub-trigger">국토위성영상</a></li>
                  <li><a href="#" class="gnb-sub-trigger">건물높이공간정보</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- //gnb-menu -->
        
        </div>
        <!-- //gnb-body -->

        <!-- gnb-close -->
        <button type="button" class="krds-btn medium icon" id="close-nav">
          <span class="sr-only">전체메뉴 닫기</span>
          <i class="svg-icon ico-popup-close"></i>
        </button>
        <!-- //gnb-close -->
      </div>
    </div>

    <!-- //메인메뉴 : 모바일 -->
</header>